* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading1 {
  background-color: rebeccapurple;
  padding: 2rem;
  color: dodgerblue;
}
#heading2 {
  background-color: #efefee;
  color: orange;
  padding: 3rem;
  text-align: center;
  font-size: 2rem;
  margin: 4rem;
}
div > ul > li {
  font-size: 3rem;
}
div.first-btn button {
  background-color: red;
  color: #fff;
  padding: 0.5rem;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
}
div.first-btn button:hover{
  background-color: dodgerblue;
}
div.second-btn button {
  background-color: rebeccapurple;
  color: #fff;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}
div.second-btn button:hover{
  background-color: orange;
}